body{
   margin: 0 auto;
}

.container_tutorial{
   margin: 0 auto;
   max-width: 1440px;
}

.stap{
   margin-bottom: 2rem;
}

iframe{
   margin-bottom: 5rem;
}

article{
   padding-bottom: 5rem ;
}

li{
   margin-bottom: 0.5rem;
}

.screenshot_stap{
   margin-bottom: 2rem;
}


